In [23]:
import pandas as pd
import requests as rq

In [24]:
url = "https://api.themoviedb.org/3/movie/top_rated"
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYzNkYTc2YTE1OTZmYTdmZWRjNDhkYTQ3YzViNTI1MCIsInN1YiI6IjY2MmQzYmIxMDNiZjg0MDEyMmVhNWZjYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.e9XR2cubnlD0gHLS-qGZGD7LBpZwciPCq-NzixlDZJM"
}

In [25]:
response = rq.get(url, headers=headers)

In [26]:
df = pd.DataFrame()

In [27]:
for i in range(1, x):
    response = rq.get(url, headers=headers)
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

In [31]:
df.to_csv('movies.csv')

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,130.323,8.703,26044
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,147.733,8.695,19743
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,124.150,8.577,11930
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,93.764,8.567,15330
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,64.755,8.542,8202