In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('All_CSV/lifeExpectancy.csv')

In [3]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df = df.dropna()

In [5]:
ordinal_encode = ['Status']
onehot_encode = ['Country']

In [6]:
from Machine_Learning.Encoder import Encoder

In [7]:
encode = Encoder(df.drop(columns=['Life expectancy ']), df['Life expectancy '],
                 ordinal_code=ordinal_encode, category=['Developing', 'Developed'],
                 onehot_code=onehot_encode )

In [8]:
x, y = encode.encode()

In [9]:
from Model_Training import Model_Training
from sklearn.linear_model import LinearRegression

In [10]:
model = Model_Training(model=LinearRegression(), data=x, target=y)

In [11]:
score = model.run()

In [12]:
score.get_score()

   r2_score  mean_absolute_error  mean_squared_error  cross_val_score
0  0.958186             3.004836            1.061905         0.949782