In [215]:
import pandas as pd

In [216]:
df = pd.read_csv('All_CSV/Bill.csv')

In [217]:
df.head()

,num_rooms,num_people,housearea,is_ac,is_tv,is_flat,ave_monthly_income,num_children,is_urban,amount_paid
0,3,3,742.57,1,1,1,9675.93,2,0,560.481447
1,1,5,952.99,0,1,0,35064.79,1,1,633.283679
2,3,1,761.44,1,1,1,22292.44,0,0,511.879157
3,0,5,861.32,1,1,0,12139.08,0,0,332.992035
4,1,8,731.61,0,1,0,17230.10,2,1,658.285625

In [218]:
from Model_Training import Model_Training
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor

In [219]:
x, y = df.drop(columns=['amount_paid']), df['amount_paid']

In [220]:
model_Linear_regression = Model_Training(LinearRegression(), x,y)
model_ridge_regression = Model_Training(Ridge(alpha=8), x, y)
model_decision_tree = Model_Training(DecisionTreeRegressor(max_depth=5), x, y)

In [221]:
score_linear_regression = model_Linear_regression.run()
score_ridge_regression = model_ridge_regression.run()
score_decision_tree = model_decision_tree.run()

In [222]:
score_decision_tree.get_score()

   r2_score  mean_absolute_error  mean_squared_error  cross_val_score
0  0.841432          5276.675311           59.826632         0.813126

In [223]:
score_ridge_regression.get_score()

   r2_score  mean_absolute_error  mean_squared_error  cross_val_score
0  0.865952          4425.597646           56.921477         0.875633

In [224]:
score_linear_regression.get_score()

   r2_score  mean_absolute_error  mean_squared_error  cross_val_score
0  0.892744           4019.25448           54.086281         0.866158

# Voting Ensemble

In [225]:
from sklearn.ensemble import VotingRegressor

In [226]:
ensemble = [('linear_regression', LinearRegression()), ('ridge regression', Ridge(alpha = 5)), ('Decision Tree', DecisionTreeRegressor(max_depth=5))]

In [227]:
model_voting_regressor = Model_Training(VotingRegressor(estimators=ensemble), x, y)

In [228]:
score_voting_regressor = model_voting_regressor.run()

In [229]:
score_voting_regressor.get_score()

   r2_score  mean_absolute_error  mean_squared_error  cross_val_score
0  0.893373          3911.448757            52.50272         0.860193

In [230]:
df.corr()

,num_rooms,num_people,housearea,is_ac,is_tv,is_flat,ave_monthly_income,num_children,is_urban,amount_paid
num_rooms,1.000000,-0.005765,-0.033561,0.018620,-0.016146,0.004133,-0.000345,-0.037474,-0.015705,-0.023933
num_people,-0.005765,1.000000,0.000072,0.033672,0.020101,0.012104,0.019152,-0.010656,-0.023863,0.053501
housearea,-0.033561,0.000072,1.000000,0.036039,0.088323,0.007986,-0.042645,0.038699,0.024902,0.096157
is_ac,0.018620,0.033672,0.036039,1.000000,-0.000247,0.002678,-0.014054,-0.027256,-0.053317,0.390003
is_tv,-0.016146,0.020101,0.088323,-0.000247,1.000000,-0.028155,0.013664,0.015353,0.034774,0.197613
is_flat,0.004133,0.012104,0.007986,0.002678,-0.028155,1.000000,-0.014879,-0.028315,-0.000066,0.147927
ave_monthly_income,-0.000345,0.019152,-0.042645,-0.014054,0.013664,-0.014879,1.000000,0.008329,-0.039424,0.025889
num_children,-0.037474,-0.010656,0.038699,-0.027256,0.015353,-0.028315,0.008329,1.000000,-0.007511,0.447512
is_urban,-0.015705,-0.023863,0.024902,-0.053317,0.034774,-0.000066,-0.039424,-0.007511,1.000000,0.649568
amount_paid,-0.023933,0.053501,0.096157,0.390003,0.197613,0.147927,0.025889,0.447512,0.649568,1.000000