In [25]:
import pandas as pd
import numpy as np

In [3]:
car = pd.read_csv('cars.csv')

In [4]:
car.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [ ]:
car.info()

In [ ]:
car['brand'].value_counts()

In [ ]:
car['fuel'].value_counts()

In [ ]:
car['owner'].value_counts()

# One hot Encoding using Pandas
## dont remember the code
## dont make change into the main dataFrame

In [13]:
pd.get_dummies(car, columns = ['owner', 'fuel'])

,brand,km_driven,selling_price,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
0,Maruti,145500,450000,True,False,False,False,False,False,True,False,False
1,Skoda,120000,370000,False,False,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,True,False,False
4,Maruti,120000,130000,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,True,False,False,False,False,False,False,False,True
8124,Hyundai,119000,135000,False,True,False,False,False,False,True,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,True,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,True,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,True,False,False

In [14]:
pd.get_dummies(car, columns = ['owner', 'fuel'], drop_first= True)

,brand,km_driven,selling_price,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,fuel_Diesel,fuel_LPG,fuel_Petrol
0,Maruti,145500,450000,False,False,False,False,True,False,False
1,Skoda,120000,370000,False,True,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,True
3,Hyundai,127000,225000,False,False,False,False,True,False,False
4,Maruti,120000,130000,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,False,False,False,True
8124,Hyundai,119000,135000,True,False,False,False,True,False,False
8125,Maruti,120000,382000,False,False,False,False,True,False,False
8126,Tata,25000,290000,False,False,False,False,True,False,False
8127,Tata,25000,290000,False,False,False,False,True,False,False

# One Hot Encoding using Sciket learn

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_x, test_x, train_y, test_y = train_test_split(car.iloc[:, 0:4], car.iloc[:, -1], test_size = 0.2)

In [18]:
train_x

          brand  km_driven    fuel         owner
7135     Maruti      50000  Petrol   First Owner
8113     Toyota     129000  Diesel   First Owner
3303  Chevrolet     198000  Diesel   First Owner
6953     Maruti     120000  Diesel   First Owner
1231    Hyundai     120000  Petrol  Second Owner
...         ...        ...     ...           ...
5231     Toyota      90000  Petrol  Second Owner
453        Ford      30000  Diesel   First Owner
926      Toyota      95000  Diesel  Second Owner
7635    Hyundai      45000  Petrol   First Owner
3141   Mahindra     110000  Diesel   First Owner

[6502 rows x 4 columns]

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [44]:
encoder = OneHotEncoder(sparse = False, drop ='first')

In [42]:
new_train_x = encoder.fit_transform(car[['fuel', 'owner']])
new_test_x = encoder.transform(car[['fuel', 'owner']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [24]:
new_train_x

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

# Concenating function is not working

In [43]:
np.hstack((train_x[['brand', 'km_driven']].values, new_train_x))

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 6502 and the array at index 1 has size 8128

# making uncommon array

In [55]:
count = car['brand'].value_counts()

In [62]:

thrashold = 100

In [63]:
repl = count[count <= thrashold].index

In [64]:
pd.get_dummies(car['brand'].replace(repl, 'Uncommon')).sample(10)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Uncommon,Volkswagen
7304,False,False,False,False,False,False,False,True,False,False,False,False,False
7582,False,False,False,False,False,False,True,False,False,False,False,False,False
300,False,False,False,False,False,False,True,False,False,False,False,False,False
1470,False,False,False,False,False,True,False,False,False,False,False,False,False
853,False,False,False,False,True,False,False,False,False,False,False,False,False
7693,False,False,False,False,False,False,False,False,False,False,True,False,False
2165,False,False,False,False,False,True,False,False,False,False,False,False,False
1992,False,False,False,False,False,False,True,False,False,False,False,False,False
8039,False,False,False,False,False,False,True,False,False,False,False,False,False
4690,False,False,False,False,True,False,False,False,False,False,False,False,False