In [3]:
import pandas as pd
import seaborn as sns

In [5]:
customer = pd.read_csv('customer.csv', usecols=[2, 3, 4])

In [6]:
customer.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train_x, test_x, train_y, test_y = train_test_split(customer.iloc[:, 0:2], customer.iloc[:, -1], test_size = 0.2)

In [13]:
train_x

     review education
12     Poor    School
47     Good        PG
27     Poor        PG
5   Average    School
37  Average        PG
16     Poor        UG
6      Good    School
30  Average        UG
7      Poor    School
0   Average    School
21  Average        PG
35     Poor    School
24  Average        PG
45     Poor        PG
25     Good    School
9      Good        UG
36     Good        UG
4   Average        UG
17     Poor        UG
2      Good        PG
29  Average        UG
3      Good        PG
33     Good        PG
42     Good        PG
43     Poor        PG
48     Good        UG
32  Average        UG
41     Good        PG
22     Poor        PG
8   Average        UG
15     Poor        UG
28     Poor    School
40     Good    School
44  Average        UG
20  Average    School
46     Poor        PG
34  Average    School
38     Good    School
18     Good    School
26     Poor        PG

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
ordinal = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [15]:
ordinal.fit(train_x)
transformed_train_x = ordinal.transform(train_x)
transformed_test_x = ordinal.transform(test_x)

In [16]:
transformed_test_x

array([[2., 1.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [0., 1.],
       [2., 1.],
       [2., 0.]])

In [17]:
from sklearn.preprocessing import LabelEncoder

In [21]:
label = LabelEncoder()
label.fit(train_y)

In [24]:
label_train_y = label.transform(train_y)
label_test_y = label.transform(test_y)

In [26]:
train_y

12     No
47    Yes
27     No
5     Yes
37    Yes
16    Yes
6      No
30     No
7     Yes
0      No
21     No
35    Yes
24    Yes
45    Yes
25     No
9     Yes
36    Yes
4      No
17    Yes
2      No
29    Yes
3      No
33    Yes
42    Yes
43     No
48    Yes
32    Yes
41    Yes
22    Yes
8      No
15     No
28     No
40     No
44     No
20    Yes
46     No
34     No
38     No
18     No
26     No
Name: purchased, dtype: object

In [25]:
label_train_y

array([0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])