In [45]:
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer as imputer

In [46]:
df = pd.read_csv('lifeExpectancy.csv')

In [47]:
cols = [var for var in df.columns if 0.05 >= df[var].isnull().mean() > 0.0]

In [48]:
df1 = df[cols]

In [49]:
df1.isnull().mean()

Life expectancy          0.003404
Adult Mortality          0.003404
 BMI                     0.011572
Polio                    0.006467
Diphtheria               0.006467
 thinness  1-19 years    0.011572
 thinness 5-9 years      0.011572
dtype: float64

In [53]:
df2 = df.drop(columns = cols)

In [54]:
df2.sample(10)

,Country,Year,Status,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,under-five deaths,Total expenditure,HIV/AIDS,GDP,Population,Income composition of resources,Schooling
1536,Lithuania,2001,Developed,0,10.20,42.872087,95.0,7,0,6.26,0.1,353.147337,347818.0,0.757,14.7
2788,United Republic of Tanzania,2005,Developing,97,3.94,0.000000,9.0,23,149,4.66,10.0,NaN,NaN,NaN,NaN
1234,Iraq,2015,Developing,32,NaN,0.000000,56.0,1433,38,NaN,0.1,4974.269300,36115649.0,0.649,10.1
1116,Guyana,2005,Developing,1,7.35,17.464059,93.0,0,1,5.83,1.8,198.455216,75946.0,0.619,11.4
459,Cabo Verde,2004,Developing,0,4.19,240.139715,91.0,0,0,5.60,0.8,1976.458560,467664.0,0.574,11.1
1395,Kuwait,2014,Developing,0,0.01,2480.896965,96.0,55,1,3.40,0.1,42996.481200,NaN,0.787,13.0
572,China,2003,Developing,391,2.96,122.936535,75.0,71879,467,4.82,0.1,1288.642924,12884.0,0.610,9.9
1546,Luxembourg,2007,Developed,0,11.75,267.051312,87.0,0,0,6.80,0.1,1618.492800,479993.0,0.877,13.5
1349,Kazakhstan,2012,Developing,6,6.82,235.356607,95.0,55,7,4.32,0.1,12387.189820,16791425.0,0.774,14.7
1869,Nicaragua,2007,Developing,3,3.83,253.000781,93.0,0,4,6.91,0.2,1344.318710,552216.0,0.601,11.0

In [58]:
df2.isnull().mean()*100
# Alcohol, Hepatitis B, Total expenditure

Country                             0.000000
Year                                0.000000
Status                              0.000000
infant deaths                       0.000000
Alcohol                             6.603131
percentage expenditure              0.000000
Hepatitis B                        18.822328
Measles                             0.000000
under-five deaths                   0.000000
Total expenditure                   7.692308
 HIV/AIDS                           0.000000
GDP                                15.248468
Population                         22.191967
Income composition of resources     5.684139
Schooling                           5.547992
dtype: float64