In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('lifeExpectancy.csv')

In [4]:
df.sample(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
718,Democratic People's Republic of Korea,2002,Developing,67.6,167.0,14,3.08,0.000000,NaN,0,...,99.0,NaN,64.0,0.1,NaN,NaN,5.9,5.9,NaN,NaN
672,Cuba,2000,Developing,76.9,115.0,1,3.92,49.340078,98.0,0,...,98.0,6.70,95.0,0.1,2741.115420,NaN,3.6,3.4,0.679,12.1
2742,Ukraine,2003,Developing,67.6,256.0,6,5.92,21.223864,77.0,411,...,99.0,6.93,97.0,0.9,148.522488,4.781295e+06,2.8,2.9,0.691,14.3
2192,Saint Vincent and the Grenadines,2007,Developing,71.9,17.0,0,5.89,0.000000,99.0,0,...,99.0,3.92,99.0,0.3,NaN,NaN,3.6,3.6,0.702,13.3
1262,Ireland,2003,Developed,78.0,82.0,0,13.24,675.213472,NaN,584,...,86.0,7.50,86.0,0.1,4117.155320,3.996521e+06,0.3,0.2,0.870,16.8
1663,Mauritania,2003,Developing,63.0,226.0,8,0.01,29.653709,NaN,3611,...,75.0,4.53,76.0,1.3,528.586613,2.957117e+06,1.3,1.1,0.447,6.6
1524,Lithuania,2013,Developed,73.0,178.0,0,15.04,1968.816817,93.0,35,...,93.0,6.59,93.0,0.1,15712.823760,2.957689e+06,2.7,2.7,0.834,16.4
1043,Grenada,2014,Developing,73.5,143.0,0,8.42,789.276461,97.0,0,...,81.0,6.10,97.0,0.1,8569.776998,NaN,3.8,3.8,0.749,15.8
1187,India,2014,Developing,68.0,184.0,957,3.07,86.521539,79.0,79563,...,84.0,4.69,85.0,0.2,1573.118890,1.293859e+09,26.8,27.4,0.607,11.6
557,Chile,2002,Developing,77.8,11.0,2,6.06,675.780844,NaN,0,...,97.0,6.48,97.0,0.1,4463.545867,1.562364e+07,1.0,1.0,0.768,13.9

In [8]:
cols = [ var for var in df.columns if 0.05 > df[var].isnull().mean() > 0 ]

In [9]:
for col in cols :
    df[col] = df[col].dropna()